<!DOCTYPE html>
<html lang="en">
{% load filters %}
<head>
    <meta charset="UTF-8">
    <title>模板过滤器</title>
    <style>
    .red {
        background: red;
    }

    .yellow {
        background: yellow;
    }

    .green {
        background: green;
    }
    </style>
</head>

<body>
    <ul>
        {% for book in books %}
        {# {% if book.id <= 2 %} #}
        {#{% if book.id|mod %} #}

        {% if book.id|mod_val:3 %}
        <li class='red'>{{ book.btitle|length }}--{{ book.bpub_date|date:'b.d, Y'}}</li>
            <!-- length过滤器显示字符串 列表的长度 -->
            <!-- date过滤器设置时间的显示格式 -->
                {% else %}
                <li class='green'>{{ book.btitle }}--{{ book.bpub_date}}</li>
                {% endif %}
                {% endfor %}
    </ul>
    default过滤器：<br/>
    {{ content|default:'hello world' }}
    <!-- default过滤器设置默认值 -->
</body>

</html>