<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>模板文件</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
</head>
<body>
    <h1>这是一个模板文件</h1>
    使用模板变量的方式  双{} 里面加入字典的键<br/>
    {{content}}
    使用列表<br/>
    {{list}}<br/>
    for循环 写在花括号的百分号里面<br/>
    <ul>
    {% for i in list %}
    <li>{{i}}</li>
    {% endfor %}
    </ul>


</body>
</html>