
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>省市县选择案例</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
    $(function() {
        //发起一个ajax请求  /prov 获取所有省级地区的信息
        //ajax获取信息 使用get  涉及到信息修改 就是用post
        $.get('/prov', function(data) {
            //回调函数
            // 获取返回的json数据
            res = data.data;
            console.log(data.data)
            //获取prov下拉列表框
            prov = $('#prov');
            // 遍历res数组 获取每一个元素：[地址id,地区标题]
            /*
            for(i=0;i<res.length;i++){
                id=res[i][0]
                atitle=res[i][1]
                option_str='<option value="'+id+'">'+atitle+'</option>'

                //向prov下拉列表框中追加元素
                prov.append(option_str)
            }*/
            $.each(res, function(index, item) {
                // console.log(index)
                // console.log(item)
                id = item[0];
                atitle = item[1];
                option_str = '<option value="' + id + '">' + atitle + '</option>';

                //向prov下拉列表框中追加元素
                prov.append(option_str);

            })
        })
        // $.post('/prov',{'num':1},function(data){

        // })
        // 绑定prov下拉列表框的 change事件  获取省下面市的信息
        $('#prov').change(function() {//省份发生改变
            // 发起一个ajax请求  /city  获取省下面市的信息
            // 获取点击省的id
            var prov_id = $(this).val();
            // $.get('city?prov_id='+prov_id,)
            $.get('/city' + prov_id, function(data) {
                res = data.data;
                city = $('#city');
                // 清空下拉列表框
                city.empty().append('<option>---请选择市---</option>');
                // 获取dis下拉列表框
                dis = $('#dis');
                // 清空dis下拉列表框
                dis.empty().append('<option>---请选择县---</option>');
                // 遍历获取值 添加到city下拉列表框中
                $.each(res, function(index, item) {
                    id = item[0];
                    atitle = item[1];
                    option_str = '<option value="' + id + '">' + atitle + '</option>';
                    // 向city下拉列表框中追加元素
                    city.append(option_str);
                })
            })

        })
        // 绑定city下拉列表框的change事件，获取市下面的县的信息
        $('#city').change(function() {//地级市发生改变
            // 发起一个ajax请求 /dis，获取市下面县级地区的信息
            // 获取点击市的id
            var city_id = $(this).val();
            $.get('/dis' + city_id, function(data) {
                // 获取返回的json数据
                res = data.data;
                // 获取dis下拉列表框
                dis = $('#dis');
                // 清空dis下拉列表框
                dis.empty().append('<option>---请选择县---</option>');
                // 遍历res数组，获取每一个元素:[地区id, 地区标题]
                // 遍历取值添加到dis下拉列表框中
                $.each(res, function(index, item) {
                    id = item[0]
                    atitle = item[1]
                    option_str = '<option value="' + id + '">' + atitle + '</option>'
                    // 向dis下拉列表框中追加元素
                    dis.append(option_str)
                })
            })
        })
    })
    </script>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
</head>

<body>
    <select name="" id="prov">
        <option value="">---请选择省---</option>
    </select>
    <select name="" id="city">
        <option>---请选择市---</option>
    </select>
    <select name="" id="dis">
        <option value="">---请选择县---</option>
    </select>
</body>

</html>