<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>分页</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>

    <ul>
        
        {# {% for area in areas %}#}

        <!-- 下面的这两种写法都可以 -->
        {#{% for area in page.object_list %}#}
        {% for area in page %}
        <li>{{ area.atitle }}</li>
        {% endfor %}
    </ul>
    {% if page.has_previous %}
        <a href="/show_area{{page.previous_page_numbe}}">&lt;上一页</a>
        {% endif %}
    {% for pindex in page.paginator.page_range %}
    {% if pindex == page.number %}
    {{ pindex }}
    {% else %}
    <a href="/show_area{{ pindex }}"> {{ pindex}}</a>
    {% endif %}
    {% endfor%}
    {% if page.has_next %}
    <a href="/show_area{{ page.next_page_number }}">下一页&gt;</a>
    {% endif %}
</body>
</html>
